# ==================== #
# Unity stuff
# ==================== #
2D\ Platformer\ Prototype/Library/
2D\ Platformer\ Prototype/Temp/
2D\ Platformer\ Prototype/Obj/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
# =================== #
# OSx specific stuff
# =================== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
# vim swap files
*.swp
